<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" thread-count="1" verbose="1" parallel = "true">
	<test name="smoke">
	<parameter name="browser" value="chrome" />
	<parameter name="gridUrl" value="http://localhost:4444/wd/hub" />
		<classes>
			<!-- <class name="UIAutomation.com.tests.TestA1" /> -->
			
			<class name="UIAutomation.com.tests.CssSelector" />
			
			<class name="UIAutomation.com.tests.LocateById" />
		</classes>
	</test>
</suite>
